<!DOCTYPE html>
<html>
  <head>
    <title>Sensor Data</title>
    <div id="data-container"></div>
    <script>
    function updateData() {
        // Make an AJAX request to the Flask server to get the latest sensor data
        $.ajax({
            url: "/data",
            type: "GET",
            success: function(data) {
                // Update the webpage with the new data
                $("#humidity").text(data.humidity);
                $("#luminosity").text(data.luminosity);
                $("#temperature_bottom").text(data.temperature_bottom);
                $("#temperature_middle").text(data.temperature_middle);
                $("#temperature_surface").text(data.temperature_surface);
                $("#v0").text(data.v0);
                $("#v1").text(data.v1);
                $("#v2").text(data.v2);
                $("#v3").text(data.v3);
                $("#v4").text(data.v4);
                $("#v5").text(data.v5);
            },
            complete: function() {
                // Schedule the next update in 5 seconds
                setTimeout(updateData, 5000);
            }
        });
    }

    // Start the periodic updates
    $(document).ready(function() {
        updateData();
    });
    
    // Clear the old data every time the page loads
    $(window).on("load", function() {
        $("#humidity").text("");
        $("#luminosity").text("");
        $("#temperature_bottom").text("");
        $("#temperature_middle").text("");
        $("#temperature_surface").text("");
        $("#v0").text("");
        $("#v1").text("");
        $("#v2").text("");
        $("#v3").text("");
        $("#v4").text("");
        $("#v5").text("");
    });
</script>
    
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>Sensor Data</h1>
    <table>
      <tr>
        <th>Humidity (%)</th>
        <td>{{ humidity }}</td>
      </tr>
      <tr>
        <th>Luminosity</th>
        <td>{{ luminosity }}</td>
      </tr>

      <tr>
        <th>Temperature (Surface *C)</th>
        <td>{{ temperature_surface }}</td>
      </tr>
      <tr>
        <th>Temperature (Middle *C)</th>
        <td>{{ temperature_middle }}</td>
      </tr>
      <tr>
        <th>Temperature (Bottom *C)</th>
        <td>{{ temperature_bottom }}</td>
      </tr>
      
      <tr>
        <th>V0 - REF</th>
        <td>{{ v0 }}</td>
      </tr>
      <tr>
        <th>V1</th>
        <td>{{ v1 }}</td>
      </tr>
      <tr>
        <th>V2</th>
        <td>{{ v2 }}</td>
      </tr>
      <tr>
        <th>V3</th>
        <td>{{ v3 }}</td>
      </tr>
      <tr>
        <th>V4</th>
        <td>{{ v4 }}</td>
      </tr>
      <tr>
        <th>V5</th>
        <td>{{ v5 }}</td>
      </tr>
    </table> 
  </body>
</html>
